<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="GitHub_SantaFarma" value="https://nuget.pkg.github.com/ahmetcantazegul/index.json" />
	</packageSources>

	<packageSourceCredentials>
		<github>
			<add key="Username" value="santamob" />
			<add key="ClearTextPassword" value="santamob_access" />
		</github>
	</packageSourceCredentials>

  <disabledPackageSources>
    <add key="LocalNugetPackages" value="true" />
  </disabledPackageSources>
</configuration>
