@using PYS.Web.Services
@{
    ViewData["Title"] = "Home Page";
}

<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
   
   <div class="row">
        <div class="col-lg-8 mb-4 order-0">
            <div class="card">
                <div class="row row-bordered g-0">
                    <h5 class="card-header m-0 me-2 pb-3">Yıllara Göre Hedef Puanlarım</h5>
                    <div id="" class="px-2">


                    </div>
                        <div class="card-body">

                            <!-- Yıllara Göre Yetkinlik Puanlarım -->

                            <!--/ Yıllara Göre Yetkinlik Puanlarım -->
                        </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 order-1">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    
                                </div>
                                <div class="dropdown">
                                    <button class="btn p-0"
                                            type="button"
                                            id="cardOpt3"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                        <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1">Geri Bildirim Formları</span>
                            <h3 class="card-title mb-2"></h3>
                          
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                </div>
                                <div class="dropdown">
                                    <button class="btn p-0"
                                            type="button"
                                            id="cardOpt3"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                        <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1">Geçmiş Değerlendirmeler</span>
                            <h3 class="card-title mb-2"></h3>

                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <!-- Yıllara Göre Yetkinlik Puanlarım -->
        <div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
            <div class="card">
                <div class="row row-bordered g-0">
                    
                        <h5 class="card-header m-0 me-2 pb-3">Yıllara Göre Yetkinlik Puanlarım</h5>
                        <div id="" class="px-2"></div>
                   
                 
                </div>
            </div>
        </div>
        <!--/ Yıllara Göre Yetkinlik Puanlarım -->
        <div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                </div>
                                <div class="dropdown">
                                    <button class="btn p-0"
                                            type="button"
                                            id="cardOpt3"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                        <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1">Astlarımın Geçmiş Değerlendirmeleri</span>
                            <h3 class="card-title mb-2"></h3>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                </div>
                                <div class="dropdown">
                                    <button class="btn p-0"
                                            type="button"
                                            id="cardOpt3"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                        <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <span class="fw-semibold d-block mb-1">Hedeflerim</span>
                            <h3 class="card-title mb-2"></h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
MOB - Ahmet Mehmet statik tanımlanmış bu alanda düzenleme gerekli
    <!-- Hoverable Table rows -->
    <div class="card">
        <h5 class="card-header">Astlarımın Değerlendirme Durumları</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Ad Soyad</th>
                        <th>Yıl</th>
                        <th>Hedef</th>
                        <th>Yetkinlik</th>
                        <th>Toplam</th>
                        <th>Status</th>
                        <th>Aksiyonlar</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Ahmet Mehmet</strong></td>
                        <td>2024</td>
                        <td>68</td>
                        <td>90</td>
                        <td>85</td>
                        <td><span class="badge bg-label-success me-1">Tamamlandı</span></td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Detaya Git</a>
                                  
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Ahmet Mehmet</strong></td>
                        <td>2024</td>
                        <td>68</td>
                        <td>90</td>
                        <td>85</td>
                        <td><span class="badge bg-label-success me-1">Tamamlandı</span></td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Detaya Git</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Ahmet Mehmet</strong></td>
                        <td>2024</td>
                        <td>68</td>
                        <td>90</td>
                        <td>85</td>
                        <td><span class="badge bg-label-success me-1">Tamamlandı</span></td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Detaya Git</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Ahmet Mehmet</strong></td>
                        <td>2024</td>
                        <td>68</td>
                        <td>90</td>
                        <td>85</td>
                        <td><span class="badge bg-label-success me-1">Tamamlandı</span></td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Detaya Git</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--/ Hoverable Table rows -->

</div>
<!-- / Content -->